@media (max-width: 900px) {
    .results__info {
        font-size: 2vw;
    }
}
@media (max-width: 800px) {
    .year__text {
        font-size: 3vw;
    }
    .stopwatch {
        font-size: 2.7vw;
    }
    .new__year {
        font-size: 2.7vw;
    }
    .navigation {
        width: 50%;
        margin-left: 25%;
    }
}
@media (max-width: 700px) {
    .results__info {
        font-size: 2.3vw;
    }
}

@media (max-width: 650px) {
    .buttons {
        width: 65%;
    }
}
@media (max-width: 450px) {
    .buttons {
        display: block;
        width: 25%;
    }
    .btn {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .button {
        font-size: 3vw;
        width: 100%;
    }
    .navigation {
        width: 60%;
        margin-left: 20%;
    }
    .stopwatch {
        font-size: 4vw;
    }
    .new__year {
        font-size: 4vw;
    }

    .results__title {
        font-size: 4vw;
    }
    .results__info {
        font-size: 3vw;
    }
}
@media (max-width: 350px) {
    .results__info {
        font-size: 4vw;
    }
}